{% extends "html/layout.html" %}

{% block title %}Détails Rapport | adminHMD{% endblock %}

{% block page_icon %}<i class="bi bi-box-seam"></i>{% endblock %}
{% block page_title %}Détails du Rapport{% endblock %}
{% block page_subtitle %}{{ nouveau_rapport.name }}{% endblock %}

{% block heading_actions %}
<a class="btn btn-gold" href="{{ url_for('edit_charts', id=nouveau_rapport.id_rapport) }}">
  Modifier
  <a class="btn btn-outline-secondary" href="{{ url_for('charts') }}">
    <i class="bi bi-arrow-left"></i> Retour
  </a>
  {% endblock %}

  {% block content %}
  <dl class="row g-3">
    <div class="col-md-6">
      <dt>Nom</dt>
      <dd>{{ nouveau_rapport.name }}</dd>
    </div>

    <div class="col-md-6">
      <dt>Contenu</dt>
      <dd>{{ nouveau_rapport.contenu }}</dd>
    </div>

    <div class="col-md-6">
      <dt>Date Début</dt>
      <dd>{{ nouveau_rapport.date_debut }}</dd>
    </div>

    <div class="col-md-6">
      <dt>Date Fin</dt>
      <dd>{{ nouveau_rapport.date_fin }}</dd>
    </div>

    <div class="col-md-6">
      <dt>Type</dt>
      <dd>{{ nouveau_rapport.type }}</dd>
    </div>

    <div class="col-md-6">
      <dt>Statut</dt>
      <dd> <span
          class="{{ 'text-success' if nouveau_rapport.statut == 'Publié' else 'text-seconfary' if nouveau_rapport.statut == 'En cours' }}">
          {{ nouveau_rapport.status }}
        </span>
      </dd>
    </div>
  </dl>
  {% endblock %}