{% extends "html/layout.html" %}

{% block title %}Détails client | adminHMD{% endblock %}

{% block page_icon %}<i class="bi bi-person-lines-fill"></i>{% endblock %}
{% block page_title %}Détails du client{% endblock %}
{% block page_subtitle %}{{ client.name }}{% endblock %}

{% block heading_actions %}
<a class="btn btn-gold btn-sm" href="{{ url_for('edit_customer', id_client=client.id_client) }}">
    <i class="bi bi-pencil"></i> Modifier
</a>
<a class="btn btn-secondary btn-sm" href="{{ url_for('customers') }}">
    <i class="bi bi-arrow-left"></i> Retour
</a>
{% endblock %}

{% block content %}
<dl class="row g-3">
    <div class="col-md-6">
        <dt>Nom</dt>
        <dd>{{ client.name }}</dd>
    </div>

    <div class="col-md-6">
        <dt>Téléphone</dt>
        <dd>{{ client.numero_de_telephone }}</dd>
    </div>

    <div class="col-md-6">
        <dt>E-mail</dt>
        <dd></dd>
    </div>
    <div class="col-md-6">
        <dt>Quartier de résidence</dt>
        <dd>{{ client.quartier_de_residence }}</dd>
    </div>
</dl>
{% endblock %}