{% extends "html/layout.html" %}

{% block title %}Détails utilisateur | adminHMD{% endblock %}

{% block page_icon %}<i class="bi bi-person-lines-fill"></i>{% endblock %}
{% block page_title %}Détails de l'utilisateur{% endblock %}
{% block page_subtitle %}{{ user.name }}{% endblock %}

{% block heading_actions %}
<a class="btn btn-secondary btn-sm" href="{{ url_for('edit_user', id=user.id) }}">
  <i class="bi bi-pencil"></i> Modifier
</a>
<a class="btn btn-outline-secondary btn-sm" href="{{ url_for('users') }}">
  <i class="bi bi-arrow-left"></i> Retour à la liste
</a>
{% endblock %}

{% block content %}
<dl class="row">
  <dt class="col-sm-3">Nom</dt>
  <dd class="col-sm-9">{{ user.name }}</dd>

  <dt class="col-sm-3">Email</dt>
  <dd class="col-sm-9">{{ user.email }}</dd>

  <dt class="col-sm-3">Matricule</dt>
  <dd class="col-sm-9">{{ user.matricule }}</dd>

  <dt class="col-sm-3">Téléphone</dt>
  <dd class="col-sm-9">{{ user.telephone }}</dd>

  <dt class="col-sm-3">Ville</dt>
  <dd class="col-sm-9">{{ user.ville }}</dd>

  <dt class="col-sm-3">Quartier</dt>
  <dd class="col-sm-9">{{ user.quartier }}</dd>

  <dt class="col-sm-3">Rôle</dt>
  <dd class="col-sm-9">{{ user.role.value }}</dd>

  <dt class="col-sm-3">Statut</dt>
  <dd class="col-sm-9">
    <span
      class="{{ 'text-success' if user.status == 'Actif' else 'text-danger' if user.status == 'Bloqué' else 'text-secondary' }}">
      {{ user.status }}
    </span>
  </dd>
</dl>
{% endblock %}